[Desktop Entry]
Version=0.1.5
Type=Application
Terminal=false
Exec=/usr/bin/blueproximity-plus
Name=BlueProximity-plus
Icon=blueproximity-plus
Categories=Application;Utility;
StartupNotify=false
