[Desktop Entry]
Version=0.1.4
Type=Application
Terminal=false
Name[de_DE]=BlueProximity-plus
Exec=/usr/bin/blueproximity-plus
Name=BlueProximity-plus
Icon=blueproximity-plus
Categories=GNOME;Utility;
StartupNotify=true
